# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore local environment files
.env
.env.local

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace