/* src/App.css */
body,
html {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  animation: contentTransition 1s;
}

.chat-header {
  background: #cccccc;
}

#logo-nova {
  display: none;
}

#nova {
  display: none;
}

.card {
  border-radius: 15px;
}

.card-header {
  background-color: #f8f9fa;
}

.card-body {
  background-color: #e9ecef;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

/* Template Nova Loading Page */

.loading-screen-nova {
  --loading-screen-background: rgb(100, 33, 218);
}
