:root {
  --chat-container-bot-background: #ffffff;
  --chat-container-user-background: #562eaf;
  --icon-bot-background: #562eaf;
  --send-btn-color: #562eaf;
}

.card-header {
  background-color: #f8f9fa;
}

.card-body {
  height: 70vh;
  overflowy: scroll;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.chat-container-bot {
  box-shadow: 5px 8px 20px 0px rgba(0, 0, 0, 0.5);
  background: var(--chat-container-bot-background);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
}

.icon-bot {
  width: 65px;
  height: 65px;
  background: var(--icon-bot-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container-user {
  box-shadow: 5px 8px 20px 0px rgba(0, 0, 0, 0.5);
  background: var(--chat-container-user-background);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon-user {
  width: 65px;
  height: 65px;
}

.send-btn {
  color: var(--send-btn-color);
}
