#next {
  --header-background: #C6B9FF;
  --chat-container-bot-background: #ffffff;
  --chat-container-user-background: #ff8378;
  --icon-bot-background: #6460ff;
  --online-color: #9450F3;
  --send-btn-color: #6460FF;
}

.loading-screen-next {
  --loading-screen-background: #6460FF;
}
