/* Template Nova Loading Page */

body,html {
    background-image: url('/static/imgs/fondo2.png');
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    position: relative; 

    animation: contentTransition 2s;    
}

@keyframes contentTransition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);

    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
    
}

@keyframes logoMoving {
    0%, 100% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(0.9);
    }
}

@keyframes InOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-img { 

    
    top: 50%;
    left: 50%; 
    max-width: 70%; 
    max-height: 70%;

    animation-name: logoMoving;
    animation-duration: 3s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
    transform: translate(-50%, -50%);
}

.main-img2 { 

    
    position: absolute;
    top: 72%;
    left: 48%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;

}
.container-fluid {
    position: relative;
}