<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOVA HackBot</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='omega_loading_page.css')}}">
    <link rel="icon" type="image/png" href="/static/imgs/pink_pacho.png">

    <script>
        window.onload = function() {
            setTimeout(function() {
                window.location.href = "chat_hack"; 
            }, 1800); 
        }
    </script>

</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-6 chat d-flex align-items-center justify-content-center">
                <img src="\static\imgs\abstraccion_omega_blanco.png" class="main-img">
                <img src="\static\imgs\logo_letras.png" class="main-img2">
            </div>
        </div>
    </div>
</body>
</html>
